[2016-02-19 05:29] wphicks opened #1 "Implement project loading in editor UI"
UI elements should be modified to ensure that a project can be smoothly loaded in a sensible way. This is a goal prior to full UI refactoring and prettification in order to get some version of the editor up and running.

[2016-02-19 05:30] wphicks opened #2 "Compiling and running projects from editor"
Should implement compiling and running of projects from the GUI editor.

[2016-02-19 05:31] wphicks opened #3 "Saving of projects from editor"
Should be able to write current project to xml from GUI editor.

[2016-02-19 06:08] wphicks opened #4 "Create Readme"
Create readme with install and basic usage instructions for Windows, Mac, and Linux.

[2016-02-19 06:10] wphicks opened #5 "Add UI element for timeline actions"

[2016-02-19 06:11] wphicks opened #6 "Add UI Element for editing Trigger Events"

[2016-02-19 06:11] wphicks opened #7 "Implement sound in Blender"

[2016-02-19 06:12] wphicks opened #8 "Standardize handling of resource files"
Make sure that resource files are being bundled into .blend file when possible and being referenced relative to position of xml file.

[2016-02-19 06:14] wphicks opened #9 "Create index.rst for Sphinx autodocing"

[2016-02-19 06:14] wphicks opened #10 "Create XML I/O functions for particle systems"

[2016-02-19 06:14] wphicks opened #11 "Implement particle systems in Blender"

[2016-02-22 15:21] wphicks opened #13 "Add undo/redo functionality to editor"

[2016-02-22 19:17] wphicks opened #14 "Add autosave to editor"

[2016-02-24 19:27] DivyaMahadevan opened #15 "GUI appears in background, not foreground"
MAC OSX

[2016-02-24 19:48] DivyaMahadevan opened #16 "Progress bar in install_everything.py doesn't show progress on Mac"
MAC OSX

[2016-04-01 05:46] #15 closed

[2016-04-01 05:46] wphicks commented on #4
Readme has been added!

[2016-04-01 05:46] #4 closed

[2016-04-01 05:47] #9 closed

[2016-05-02 19:30] wphicks opened #17 "Add project bookmarks"
W3D Projects should have the ability to skip to specified points.

[2016-05-04 16:52] #16 closed

[2016-05-04 16:53] wphicks commented on #16
Will be migrating from this script to pure distutils based install shortly

[2016-05-15 22:42] #1 closed

[2016-05-15 22:42] #2 closed

[2016-05-15 22:42] #3 closed

[2016-05-15 22:42] #5 closed

[2016-05-15 22:42] #6 closed

[2016-05-15 22:42] #8 closed

[2016-05-15 22:42] #13 closed

[2016-05-15 22:42] #14 closed

[2016-05-15 22:42] #17 closed

[2016-05-17 04:24] wphicks opened #18 "Install fails under cygwin"

[2016-06-20 21:16] purvigoel opened #20 "Installation Problems"
Terminal Output:

  "Module bpy not found. Loading "
/Users/purvigoel/Writing3D/pyw3d/activators/triggers/links.py:28: UserWarning: Module bpy not found. Loading pyw3d.timeline as standalone
  "Module bpy not found. Loading pyw3d.timeline as standalone")
/Users/purvigoel/Writing3D/pyw3d/objects.py:42: UserWarning: Module bpy not found. Loading pyw3d.objects as standalone
  "Module bpy not found. L

[2016-06-21 14:41] purvigoel commented on #20
result after attempting to import pyw3d in a python3 terminal:

/Users/purvigoel/Writing3D/pyw3d/activators/triggers/look_triggers.py:29: UserWarning: Module bpy not found. Loading pyw3d.activators.triggers.look_triggers as standalone
  "Module bpy not found. Loading "
/Users/purvigoel/Writing3D/pyw3d/activators/triggers/links.py:28: UserWarning: Module bpy not found. Loading pyw3d.timeline as sta

[2016-06-21 15:11] wphicks commented on #20
Hmmm... Looks like the new version from develop didn't actually get installed. Just as a sanity check, can you go to the directory you installed from and run
`git show`
and check that the commit number at the top is 77e3c0bee76150baf2c233e152de69829e24ac3b?

[2016-06-21 15:14] purvigoel commented on #20
I think you're right, as the number is:

commit 13146d300a25cd3785c23601f50af89697e3d7cd

I will try to install it again!

[2016-06-21 15:16] wphicks commented on #20
Ah, righto! You're on the master branch. Use `git checkout develop` to switch to the develop branch and see what you get.

[2016-06-21 15:20] purvigoel commented on #20
I get:

M   pyw3d/**init**.py
M   sitecustomize.py
Already on 'master'
Your branch is up-to-date with 'origin/master'.

[2016-06-21 15:21] wphicks commented on #20
Oh, sorry! I originally said `git checkout master` but it should be `git checkout develop` (editied above). When you get a second, let's take this to IM and I'll walk you through the details.

[2016-06-21 16:54] wphicks commented on #20
Closing this issue following successful testing with 77e3c0b.

[2016-06-21 16:54] #20 closed

[2016-06-21 18:39] purvigoel opened #21 "Error reading in specifications for sound from xml"
I get the following traceback when attempting to run Ode using cwapp.py

Traceback (most recent call last):
  File "cwapp.py", line 50, in <module>
    my_project = project.W3DProject.fromXML_file(args.project_file)
  File "/Users/purvigoel/Library/Python/3.4/lib/python/site-packages/pyw3d/project.py", line 374, in fromXML_file
    return project_class.fromXML(ET.parse(filename).getroot())
  File

[2016-06-21 19:04] purvigoel commented on #7
File "/Users/purvigoel/Library/Python/3.4/bin/w3d_export_tools.py", line 96, in <module>
    input_project = unpickle_w3dproject(args.project_file)
  File "/Users/purvigoel/Library/Python/3.4/bin/w3d_export_tools.py", line 38, in unpickle_w3dproject
    return pickle.load(open(filename, "rb"))
  File "/Users/purvigoel/Writing3D/pyw3d/features.py", line 71, in __setitem__
    "{} is not a valid val

[2016-06-22 15:21] purvigoel opened #22 "Excessive warnings about relative references in parsing cwapp projects"
I get very similar tracebacks ("Warning:root:Cannot check relative references...) when running most of the built-in samples on cwapp.py. Could it be a problem with how I am running it?

Traceback:

WARNING:root:Cannot check relative reference to movingtext
WARNING:root:Cannot check relative reference to movingtext
WARNING:root:Cannot check relative reference to frontlink
WARNING:root:Cannot check

[2016-06-22 18:32] wphicks opened #23 "Allow movement when WandNavigation root missing?"
Legacy cwapp software allows WSAD-based movement within a project even if the WandNavigation root is not specified in the xml. Writing3D currently does not. The original xml schema specifies that movement should be disabled by default. We should decide whether to update the schema to reflect legacy behavior or accept the updated behavior.

[2016-06-22 18:34] wphicks opened #24 "Movement relative to walls currently not working"
We should figure out how to sensibly support movement relative to walls for legacy compatibility. The original sample_image.xml is a good test project for this.

[2016-06-22 18:38] wphicks commented on #24
@purvigoel: This might be a good one for you to take a look at if you have interest. The issue is that movement relative to the walls is a bit of an anachronism (Oculus headset obviously has no walls to move relative to), so I didn't put too much effort into this.

We should really make this such that movements relative to walls just add a vector specifying wall position to each movement. We'll ne

[2016-06-22 18:48] wphicks commented on #22
I split the first two parts of this off into issues #23 an #24. As for the warnings, that's not a problem with how you're running it (working as originally intended), but it's definitely annoying behavior. The issue is that certain features require us to know of the existence of other objects before they're necessarily loaded.

That is to say, if object A has a link which moves object B, then when

[2016-06-22 18:50] wphicks commented on #23
On further reflection, the legacy behavior just doesn't make sense, and it would cause too many weird issues if we changed the default. Closing this out as will not fix.

[2016-06-22 18:50] #23 closed

[2016-06-22 18:56] wphicks commented on #21
Resolved by c37e0ed

[2016-06-22 18:56] #21 closed

[2016-06-22 21:26] purvigoel commented on #24
Ah, I see! I'll take a crack at this and try to figure it out. If I can't quite nail it down, we could work on it together, if that's good?

[2016-06-23 00:15] wphicks commented on #24
Sounds great! Just let me know how things go.

[2016-06-23 13:49] purvigoel commented on #24
I'm having a bit of trouble figuring this out. I understand what we're trying to do, and I think two of the pertinent blocks of code are in placement.py: def _create_relative_to_objects() and place(). I think _create_relative_to_objects() handles movements relative to the walls to be used in place(). If that's right, then should a change should be made in place() so that the output of _create_rela

[2016-06-23 14:19] wphicks commented on #24
Sure, why don't you hit me up on IM whenver you want to tackle this?

The short response is that you're on the right track but need to look at one other place in the code. _create_relative_to_objects will create EMPTY objects (Blender placeholders essentially) at the places indicated for the walls. Think of those as storage for the placement information that relative placements require.

place dea

[2016-06-27 14:45] purvigoel opened #25 "Links Not Transitioning Properly: sample_image"
In sample_image, clicking a link causes a movement of the picture but the respective link does not disappear in favor of the next link, despite the following code in sample_image.xml:

 Actions
                  ObjectChange name="frontlink"
                           Transition duration="1.0"
                           Visible false /Visible
                           /Transition

[2016-06-28 13:42] purvigoel commented on #25
A very similar problem occurs in sample_model. When rotations and movement are turned on in the xml file, the sample works properly except for the above commands ("Fly Front", "Fly Right," etc), which do not disappear after being clicked. I am not sure if this indicates a problem in the rotation mechanisms.

[2016-06-28 17:50] wphicks commented on #25
Ah, excellent. My suspicion is that this is unrelated to the rotation, but I'm having trouble reproducing the bug for unrelated reasons. Specifically, I think we may have different versions of the legacy samples.

Would you mind zipping up just your samples directory and e-mailing it to me? I'll then take the important samples, modify them slightly if necessary and post them to the repo. That way,

[2016-06-29 17:42] wphicks commented on #25
Got the samples and was able to reproduce the bug. I realized that we need to get permission from the people who created those samples ( @ikreymer, I think) before we post them. We should see if we can get them covered by either the GPL license we're using for the entire project or a CC license of some sort.

I haven't figured out exactly what's causing the bug yet, but my most recent commit shoul

[2016-07-05 13:14] purvigoel commented on #25
Just thought I'd log down where I'm at with this issue right now!

I used debug statements for visibility and got the following whenever clicking a link:

2016-07-05 09:02:21,393    DEBUG W3D object visibility boolean set to False
2016-07-05 09:02:21,393    DEBUG W3D object visibility boolean set to True

This seems to be correct--the visibility of one link is turned off, the visibility of the sub

[2016-07-06 14:10] purvigoel commented on #25
I had a little more luck when looking at sample.xml. There was a similar problem here; the links wouldn't disappear/reappear at the correct time. However, I noticed another problem which may or may not be related: the moving text would often move to the incorrect wall. This might be what's throwing off the readings when the object has to move to the next wall.

Upon initialization, the following i

[2016-07-06 14:15] wphicks commented on #25
Hmmm... Very interesting... Can you commit your logging version, so I can try to trace the exact chain of events here? I'm especially interested in the fact that we get the expected action about 1/10th of the time. That sounds to me like a timing issue of some sort.

[2016-07-06 14:18] purvigoel commented on #25
Sure, just sent in the commit!

[2016-07-07 19:55] wphicks commented on #25
Discovered root cause here was that in legacy software, invisible links cannot be clicked, whereas Writing3D allowed clicking of visible links (credit to @purvigoel for figuring this out). Will pull in @purvigoel 's bugfix shortly. Note that testVisibility.xml (also to be pulled in from @purvigoel) is a simple test for this issue. Will close this issue once changes are pulled in; please open new i

[2016-07-07 21:11] wphicks opened #26 "Installer should not edit source"
Having setup.py edit source to specify executable locations is obviously The Wrong Way (TM). Instead, pyw3d should read from a config file (written on install) to find blender executables.

[2016-07-07 21:13] wphicks opened #27 "Installer should allow use of Blender installed anywhere"
setup.py should have a robust check for Blender and Blenderplayer executables in the specified blenderdir and fall back to installing in ~/Writing3D only if it cannot find them.

[2016-07-08 02:30] wphicks commented on #25
Resolved by 5508853b9bdc0d248974b0c81013c13547c73a89

[2016-07-08 02:30] #25 closed

[2016-07-08 02:31] wphicks commented on #24
Resolved by 798bd8851783cb14e13ec2465cc25ff7de34c9c3

[2016-07-08 02:31] #24 closed

[2016-07-13 22:23] purvigoel opened #28 "Objects Don't Obey Links After One Cycle"
The links in sample.xml and sample_image.xml are disappearing/reappearing perfectly now, but there's a new strange bug. The cycle of links is "Fly Front"-->"Fly Right"-->"Fly Floor"-->"Fly Left", and so on. The moving object will follow these commands for the first run through of these four links.

However, when we return to "Fly Front" option, with the moving object currently on the left wall, th

[2016-07-14 19:40] purvigoel commented on #28
2016-07-14 15:39:12,987    DEBUG W3D activate called on link_object_leftlink with status Stop
2016-07-14 15:39:12,989    DEBUG W3D activate called on link_object_floorlink with status Stop
2016-07-14 15:39:12,992    DEBUG W3D activate called on link_object_rightlink with status Stop
2016-07-14 15:39:12,994    DEBUG W3D activate called on link_object_frontlink with status Stop
2016-07-14 15:39:16,8

[2016-07-18 13:54] purvigoel opened #29 "Text Rotation Issue"
We noticed in sample.xml that the moving text did a 180 degree rotation as it moved to the Right Wall, after the user clicked "Fly Right." I put in debug statements in movement.py, in the start string, continue string, and end string to track rotation. Sure enough, for the Front Wall, Left Wall, and Floor Wall, there was no indication of rotation. For the Right Wall, however, the debug statement i

[2016-07-18 14:49] purvigoel commented on #29
I created a test example in CWEditor.jar for rotation. It seems like, in general, rotation of text moving from wall to wall is a built-in functionality. That is, I don't have to make any LookAt changes when creating the links for the text to rotate to preserve its orientation. A rotation of moving text occurs at every wall.

However, in cwapp.py, the rotation occurs only at the Right Wall because

[2016-07-18 15:26] purvigoel opened #30 "sample_random.xml Traceback: key linV does not exist"
sample_random.xml has three pieces of text: "left", "center", and "right." These randomly move forwards and backwards, towards and away from the user. When running this on cwapp.py, I get the following error after some debugging printouts:

2016-07-18 11:14:54,387    DEBUG W3D activate called on timeline_1 with status Continue
2016-07-18 11:14:54,404    DEBUG W3D activate called on timeline_1 with

[2016-07-18 22:13] wphicks commented on #26
Closed by 44058cf14fc0e5da4979990146c46846c6faa481

[2016-07-18 22:13] #26 closed

[2016-07-18 22:15] wphicks commented on #27
Partially corrected by 44058cf14fc0e5da4979990146c46846c6faa481. Now, blenderdir can be set as a command-line option for setup.py, but a specific directory layout is still assumed.

[2016-07-18 22:19] wphicks opened #31 ""relative_to" movement should include rotation"
Moving an object relative to walls should take into account the wall orientation.

[2016-07-18 22:23] wphicks commented on #29
Ah, right. It's very odd and annoying that that sample has rotation specified for just one movement. Let's correct that once we get permission to post those samples. In the meantime, the larger issue is what I've now described in #31, which we were aware of previously. Going to close this issue, and further discussion can take place on #31.

[2016-07-18 22:23] #29 closed

[2016-07-18 22:28] wphicks commented on #28
I think you've solved this one, right @purvigoel? Do you want to submit a pull request, or shall I pull it in myself?

[2016-07-18 22:34] wphicks opened #32 "Install fails with --user flag on Homebrew Python"
This appears to be a known bug due to a system-level distutils.cfg file essentially setting the --prefix option for all installs. Obviously, --prefix and --user cannot be specified together, so the install fails.

Documentation should be updated to warn Homebrew users, and install_w3d.py installer tool should detect Homebrew installs and drop the --user flag.

@purvigoel, can you confirm this and

[2016-07-18 22:50] wphicks opened #33 "Incorporate optional bad z-sorting"
cwapp did not use any sort of smart z-sorting for transparency, which was used for interesting effects in legacy projects. This should be reintroduced as an option in Writing3D.

[2016-07-18 23:44] purvigoel commented on #28
Oh, I thought I sent one earlier this week. It must not have gone through! I tried again; did it work this time? Thanks!

[2016-07-19 00:01] wphicks commented on #22
Resolved by 72988d4f1ed5269414cdc923f3859a2a7a6c534b. Note that warnings will still show up unless debug level is set to "warn" in **init**.py.

[2016-07-19 00:01] #22 closed

[2016-07-19 03:22] purvigoel commented on #32
It was indeed Homebrew Python that was being used, so I believe it does appear that caused the issue. After running python3 setup.py install --user --force --prefix=, installation seemed to work. However, there was an issue with Blender that I wanted to pass by you. The script appeared to reinstall blender rather than find the one already installed by the blender installer. The installed blender d

[2016-07-19 14:14] wphicks commented on #32
So, to confirm, after installing with an empty prefix flag, the pyw3d module _is_ available from a python3 prompt? Can the samples be run?

In terms of installing a separate version, that's working as intended unless you also supplied the --blenderdir flag to setup.py. Run `python3 setup.py install --help` for more info. This is related to issue #27, so I'll continue the discussion there.

[2016-07-19 14:19] purvigoel commented on #32
Just confirmed it--the installation definitely worked after running the empty prefix tag, as did running the samples.

[2016-07-19 14:28] wphicks commented on #27
With regard to the issue raised in discussion of issue #32, the default is to install a separate version of Blender so that we have a completely clean, Writing3D-dedicated version. This will help reduce the amount of time we spend tracking down errors from messy Blender site-packages folders, but has the disadvantage of using more space for a default install.

The alternative is to check $PATH for

[2016-07-19 14:30] wphicks commented on #28
I'm not seeing a pull request. Want to give it one more go, and if not, I'll just pull it in from your repo?

[2016-07-19 14:36] purvigoel commented on #28
Sure, I just tried again! Might not have worked though. If it didn't, I think you should probably just pull it in!

[2016-07-19 15:09] wphicks commented on #32
Documentation (and install_w3d.py) updated through ea9e83ed2a9c3c38f0229d6a4a6463eeb2657a49.

[2016-07-19 15:09] #32 closed

[2016-07-19 15:30] purvigoel commented on #30
Quick update on this, I tried putting in a W3D_LOG.debug statement that printed out blender_object['linV'] in both start_string and end_string of movement.py and got the same traceback about the key "linV" not existing when running sample_random.xml. I tried running sample.xml with these debug statements as well, and got the same traceback again. So I don't think this is limited to sample_random.x

[2016-07-19 17:02] wphicks commented on #30
For the start string, did you put it before or after [linV is assigned to (160-165 and 190-194)](https://github.com/wphicks/Writing3D/blob/c79ef4bc1a198e0573f24122ee839c9c267f77fe/pyw3d/blender_actions/movement.py#L190-L194)? We don't always expect linV to be assigned. The question is why is it hitting the [code defined at 215-217](https://github.com/wphicks/Writing3D/blob/c79ef4bc1a198e0573f24122

[2016-07-19 17:08] purvigoel commented on #30
Oh, I see. I originally had a debug statement before line 160, which caused a problem. I just moved it to after line 194, and this didn't cause an issue this time. However, the statement in the end_string still caused the aforementioned traceback.

[2016-07-19 18:00] wphicks commented on #30
Did you put it within the if statement at [line 238](https://github.com/wphicks/Writing3D/blob/c79ef4bc1a198e0573f24122ee839c9c267f77fe/pyw3d/blender_actions/movement.py#L238)?

[2016-07-19 18:22] purvigoel commented on #30
I first tried it with the debug statement within the if statement, and then again with the debug statement outside the if statement. Both resulted in that error!

[2016-07-19 18:42] wphicks commented on #30
Outside the if statement, we expect linV to be unassigned (it will only be assigned if we hit the same check at [line 157](https://github.com/wphicks/Writing3D/blob/c79ef4bc1a198e0573f24122ee839c9c267f77fe/pyw3d/blender_actions/movement.py#L157). Inside, that's much more interesting. Do you have a minimal example that reliably reproduces the error?

[2016-07-19 19:16] purvigoel commented on #30
Yikes, I think I misspoke. I messed around with the location of the W3D_LOG statements and I think I previously got a bit mixed up with the if statements. So just to correct my previous statement, linV is definitely unassigned outside the if statement. However, when I move the debug line within the if statement (if not self.duration), it is never printed out and there is no indication of a debug s

[2016-07-19 22:21] wphicks commented on #30
Can you clarify this a bit? We're still talking about [line 157](https://github.com/wphicks/Writing3D/blob/c79ef4bc1a198e0573f24122ee839c9c267f77fe/pyw3d/blender_actions/movement.py#L157), yes? You don't see the output from the debug statement within this if-block. When running which sample?

Are you still seeing a bug? If so, do you have a minimal example that reproduces it?

[2016-07-20 05:07] purvigoel commented on #30
Sorry! So the following is all through running sample.xml. Here's all the debug statements that I've been working with.

Debug Statement 1:
I think my line numbers are a little bit different from yours right now, but in the start_string there is an if/else statement for self.move_relative. This statement ends around line 147. At the same indentation, on the next line, is a script_text.extend() cal

[2016-07-20 14:11] purvigoel commented on #30
I've been working on a minimal sample and might have isolated a problem. The test is a simpler version of sample_random.xml. It has two pieces of MovingText. A timeline picks one of the two objects randomly, and moves it by 2 units.

If I isolate the sample to just this, there are no errors or tracebacks. I think the problem comes with the next part. Mirroring sample_random.xml, this test then "(R

[2016-07-22 17:23] #28 closed

[2016-07-22 18:17] purvigoel commented on #30
2016-07-22 14:14:55,573    DEBUG W3D LINV IN START STRING
2016-07-22 14:14:55,573    DEBUG W3D LINV AT LINE 160: [0.0, -0.02032, 0.0]
2016-07-22 14:14:55,609    DEBUG W3D activate called on timeline_1 with status Continue
2016-07-22 14:14:55,609    DEBUG W3D activate called on timeline_1 with status Continue
2016-07-22 14:14:55,623    DEBUG W3D activate called on timeline_1 with status Continue
20

[2016-07-22 18:24] purvigoel commented on #30
testRandom.xml output:

2016-07-22 14:22:23,463    DEBUG W3D LINV IN START STRING
2016-07-22 14:22:23,471    DEBUG W3D LINV AT LINE 160: [0.0, -0.0067733333333333335, 0.0]

2016-07-22 14:22:23,471    DEBUG W3D LINV IS CURRENTLY AT START STRING: [0.0, -0.0067733333333333335, 0.0]
2016-07-22 14:22:23,480    DEBUG W3D activate called on timeline_1 with status Continue
2016-07-22 14:22:23,502    DEBUG

[2016-07-25 14:10] purvigoel commented on #30
I've been messing around with the testRandom.xml and found some really strange coincidences that I'll describe here.

When running the file, there are three things that the timeline can do, one of which is "good" and two of which are "bad":
1. It can work as expected, looping back upon itself when each run is complete. ("Work")
2. It can fail in the form of the timeline simply stopping after a run

[2016-07-25 16:11] purvigoel commented on #30
So just following off the duration observations I made in the last post, I made three follow-up observations.

**1. A "Work" Scenario Never Hits the End String**
I decided to look at the differences in debug logging for "Work"/"Stop"/"Break" situations. I used that chart I sent you to grab some times. So in a Random scenario, with a start time of 0.5, transition duration of 0.5, and timeline resta

[2016-07-28 02:31] wphicks commented on #30
Resolved by 2af73be.

A quick note, because it is somewhat confusing. Occasionally (really, rather often), you will see lines in the Blender action logic like noted in point 3 ("Typo?") above. This is working as intended. These scripts are auto-generated, and it is least complicated to leave in these checks rather than having a special case during generation for one condition being mutually exclus

[2016-07-28 02:31] #30 closed

[2016-08-08 14:20] purvigoel opened #34 "Changing Lamp Color Through Timeline Causes Error"
I used a minimum sample with a lamp shining on text. A timeline changes the color of the lamp from red to dark blue. The color change does actually occur when running the sample. However, once the color change is completed, I get the following traceback:

2016-08-08 10:22:49,584    DEBUG pyw3d Module bpy not found. Loading pyw3d.timeline as standalone
DEBUG:pyw3d:Module bpy not found. Loading pyw3

[2016-08-08 19:04] wphicks commented on #34
Great! Could you either post the xml (and the commit number for the version used to render it) or better yet, tell me what's at line 70 of timeline_1.py?

[2016-08-09 03:43] purvigoel commented on #34
Sure! Line 70 of timeline_1.py is:

new_color.append(blender_object.color[3])

The full if statement is:

`if time >= 1.0:
            blender_object = scene.objects['object_Light1']
            new_color = [0.0, 0.0, 0.4]
            if len(new_color) < 4:
                new_color.append(blender_object.color[3])
            blender_object.color = new_color
            own['random_choice'] = None

[2016-08-09 14:33] wphicks commented on #34
Ah, right. This is actually expected behavior, but it points out one other adjustment we'll have to make to the code. You should leave that particular check as is, since we're just checking to see if an alpha-value is assigned.

What's going on here is that you've adjusted it so that only non-light objects are assigned a color (232a1777c4b609822aaef343f64fb0fcb92c3b56), but when dynamically changi

[2016-08-09 14:33] #34 closed

[2016-08-09 22:42] wphicks opened #35 "Old Python installs hide installs to later Python versions"
It's not entirely clear to me why this is happening, but Blender appears to be searching the site-packages folder for both Python 3.4 and Python 3.5 when importing pyw3d. After a recent upgrade (Ubuntu 14.04->Ubuntu 16.04, with a corresponding upgrade from Python 3.4 to 3.5), I noticed that Blender was importing the version installed for 3.4 and ignoring the 3.5 version. Workaround is to delete th

[2016-08-12 16:12] wphicks opened #36 "Single-eye stereoscopic images"
Legacy cwapp supports images addressed only to one eye in a stereoscopic environment. We should support the same.

[2016-08-16 23:44] wphicks opened #38 "Links can only be pressed once per second"
Because of default settings for activators, links will only reset after one second.

@purvigoel, if you're looking for low-hanging fruit, this one should be relatively straightforward to tackle.

[2016-08-17 21:08] wphicks commented on #38
This was actually a misinterpretation of another feature's behavior. WAI.

[2016-08-17 21:08] #38 closed

[2016-08-17 21:19] wphicks commented on #7
Resolved by 360d0a2da0a9b748c4b8d772b28fca503660df39.

[2016-08-17 21:19] #7 closed

[2016-08-22 16:05] purvigoel opened #39 "key "linV" doesn't exist"
When running sample_random.xml, I get the following traceback:

Python script error - object 'timeline_1', controller 'activate':
Traceback (most recent call last):
  File "/Users/purvigoel/Downloads/CaveWriting/samples/run.blend/timeline_1.py", line 103, in activate
  File "/Users/purvigoel/Downloads/CaveWriting/samples/run.blend/timeline_1.py", line 103, in <listcomp>
KeyError: 'value = gameOb[k

[2016-08-22 16:30] purvigoel commented on #39
Here's the debug statements that print in and around the traceback. It looks like we see tracebacks whenever a movement in timeline 1 ends.

2016-08-22 12:27:16,982    DEBUG W3D Ending movement in timeline_1
2016-08-22 12:27:16,999    DEBUG W3D activate called on timeline_1 with status Continue
2016-08-22 12:27:17,000    DEBUG W3D Action Index 2 at time 1.0876037903126416 on timeline_1
2016-08-22

[2016-08-22 16:54] purvigoel commented on #39
I do think it's still a timing thing, though, because changing the timeline reset time in the follow code (around line 90 of sample_random.xml) from 1.5 to anything less than 1.0 seconds makes the program work without a traceback.

`<TimedActions seconds-time="1.0">
                            <TimerChange name="1">
                                   <start/>
                            </TimerCha

[2016-08-22 23:50] purvigoel commented on #39
I'm still not sure what's causing the problem, but was able to construct a band-aid solution by saying that if linV didn't exist, to make it [0,0,0] in the continue_string:

`if "position" in self.placement:`
`script_text.extend([`
`"if 'linV' not in blender_object:",`
`"   blender_object['linV'] = [0.0,0.0,0.0]",`
`"blender_object.position = [",`
 `"    blender_object.position[i] + blender_object

[2016-09-04 12:49] purvigoel commented on #39
I've been experimenting with times and I think I gained some insight on where the problem is. The project will consistently throw errors during the second timeline action--and only the second timeline action. The first timeline action in my version of sample_random starts at 0.5 seconds, with a duration of 0.9 seconds. The second timeline action starts 1.4 seconds in, with a duration of 0.5 second

[2016-09-05 19:21] wphicks commented on #39
Ah, excellent. That makes some sense to me, but I'm going to have to probe deeper on it. Thanks for the update!

[2016-09-08 19:59] wphicks commented on #11
So, it turns out that implementing legacy particle systems is an _extremely_ difficult problem. The built-in Blender particle systems have no way of specifying a generalized velocity domain, and building a custom system in Python is (predictably) too slow for the massive particle systems that many legacy projects include.

In the short term,  the thing to do is to implement a new style of particle

[2016-09-08 21:06] wphicks commented on #11
Useful reference for a future implementation of velocity domains: http://www.blendernation.com/2015/09/23/tutorial-creating-a-particle-system-in-the-bge/

[2016-09-28 18:15] wphicks opened #40 "Blender site directories not appropriately modified on install (OS X)"
During install: "Adding None to Blender site directories..."

[2016-10-10 00:32] wphicks opened #42 "pyw3d/objects.py is a Frankensteinian monster"
pyw3d/objects.py has grown way, way, way too big. It is ugly and should be broken down into smaller parts within a pyw3d.objects sub-module.

[2016-10-10 00:38] wphicks opened #43 "Ensure PEP8 compliance across codebase"
PEP8 compliance is overall pretty good, but there are a few source files that need some minor tweaks. No need to be [nitpicky](https://www.python.org/dev/peps/pep-0008/#a-foolish-consistency-is-the-hobgoblin-of-little-minds) on this, but cleaning up a few things here and there would be nice. Happy to accept pull requests on this.

[2016-12-14 19:35] wphicks commented on #39
I think this is no longer an issue in the latest develop version. I'll re-open if it turns out I'm wrong.

[2016-12-14 19:35] #39 closed

[2017-02-07 14:30] shadoof opened #45 "path arguments to cwapp.sh"
cwapp.sh does not handle path arguments to the cwapp.sh in which there are spaces.

[2017-02-07 14:38] shadoof opened #46 "error reporting for missing and other font issues"
fonts referenced by xml that cannot be found break the preview without informative error reporting

[2017-02-07 14:40] shadoof opened #47 "show camera position and orientation as coords and angles in Previewer"
it would be useful to allow the PoV/Camera position to be shown as x, y, z coordinates so that you can at least work out 'where you are' in the previewer, with maybe also three angles to represent the direction of the camera's gaze

[2017-02-08 17:07] wphicks commented on #46
@purvigoel, if you have an extra second, would you mind running a project with a missing font and sending me whatever the current error we get is?

[2017-02-08 17:46] wphicks opened #48 "Automatic updating"
Users of all technical backgrounds should be able to pull the latest version from Github with a single click. This is a significant priority so that people don't have to constantly be re-downloading with rapid changes in these early days.

[2017-02-08 18:08] wphicks opened #49 "Documentation update for v0.1.0"
Documentation should be updated to reflect most recent progress in v0.1.0 and distribution methods.

[2017-02-08 19:19] wphicks commented on #11
Mostly addressed by 583a05bd26af18f6c4284de014b670ba8ff436a8. I'm going to close this, though there are elements of the old particle systems that still need to be implemented. It's probably best to address those in separate issues.

[2017-02-08 19:19] #11 closed

[2017-02-08 19:21] wphicks commented on #10
Mostly addressed by 583a05bd26af18f6c4284de014b670ba8ff436a8 (see #11). Still need to work on this for particle system action lists, but that can be developed concurrently with implementing those features.

[2017-02-09 02:52] purvigoel commented on #46
Sure! I've stuck a picture of one of the error messages to this post.

<img width="1280" alt="screen shot 2017-02-08 at 9 51 36 pm" src="https://cloud.githubusercontent.com/assets/20029387/22767367/d3f72d7e-ee48-11e6-8720-28e35a081577.png">

[2017-02-09 18:10] wphicks commented on #46
Awesome! Thanks very much. This should be an easy fix; it looks like it's just using the generic error message for a bad feature choice. So, we can override that for fonts and other assets.

[2017-02-12 19:47] wphicks commented on #45
I think this should now be resolved. Please feel free to re-open this issue if it's still a problem.

[2017-02-12 19:47] #45 closed

[2017-02-12 20:17] wphicks commented on #46
Resolved by e38e93f2b5e970507d2241b7a10f78b4b798949a.

[2017-02-12 20:17] #46 closed

[2017-02-15 21:20] purvigoel opened #50 "Background Color defaults to white"
When creating a project on both CWEditor.jar and the XML, changing the background usually works, but not always. Some colors (specifically shades of green, although there may be more) simply default to a white background.

[2017-02-15 22:00] shadoof opened #51 "Change version number and/or window title for the old GUI cweditor.jar"
... in order to easily distinguish it from another copy on a developer's system that is targeting the *old* previewer. (e.g. so I can tab-toggle back and forth comparing behavior on my system.)

[2017-02-15 23:41] wphicks commented on #51
Sadly, this is trickier than it ought to be. I think we'd have to recompile the jar with JaxFront using the latest version of the editor source, and I'm not certain anyone knows where that is at this point. I quite agree that this would be helpful, but I don't think it's possible without a lot of digging. I'm going to close this for now, but please feel free to reopen it if this is a major priorit

[2017-02-15 23:41] #51 closed

[2017-02-16 00:01] shadoof opened #52 "path-handling inconsistency between CW and Writing3D engines"
For, e.g. fonts: The CW engine seems to want "./fonts/<fontname>" whereas the Writing3D engine wants "fonts/<fontname>".
  Suggested solution (especially as we try to maintain compatibility): allow Writing3D to accept and parse the "./fonts/<fontname>" form.
  (? Make sure this type of path-handling is generalized for all resource references ?)

[2017-02-16 00:22] wphicks commented on #52
Excellent, thanks for the report on this. It's definitely a genuine bug (I would expect the "./" to work), and I'll follow it up.

[2017-02-16 12:47] shadoof opened #53 "sample_01_first.xml - issues listed:"
1. (problem, already ticketed) old engine only works with "./fonts/<fontname>" so before opening in an editor targeting the new engine, all "./" prefixes must currently be removed.
2. (context) this sample has been rescripted so all positions are center-relative. movements are absolute.
3. (problem) link clicking does not work in the new engine as expected and as in the old
4. (problem) the old sc

[2017-02-16 15:02] wphicks commented on #53
For my own reference, Problem 1 here is #52. Will investigate everything here further ASAP. @purvigoel, if you're available, investigating exactly what the deal is with Problem 3 would be useful.

[2017-02-20 20:11] wphicks commented on #52
Could not reproduce this on a Linux machine (Ubuntu 16.04 for those of you playing at home). @purvigoel, could you test this on your system (after updating) and see what the deal is? If this is a Mac-only issue, I have a pretty good idea of how to work around it, but I want to confirm that we're seeing this on multiple Macs.

[2017-02-20 20:15] wphicks commented on #48
Closing this because update script now exists in distributions for the Brown Writing3D class, but it *does* still needed to be integrated with the codebase here.

[2017-02-20 20:15] #48 closed

[2017-02-20 21:01] shadoof commented on #52
as of c55552a this is still an issue on my Mac although the behavior of the CWEditor.jar makes it very difficult to work out exactly what is happening. Anyway, default behavior *for W3D* should be:
- if path-to-font is specified, use it, else:
- expect to find fonts referenced by unqualified names in a folder at same level as xml called 'fonts'

[2017-02-20 22:00] shadoof opened #54 "Scaling of text different from legacy CW"
"Desktop Starting Camera Position" seems to have no effect on the W3D blender previewer and, in any case, the default  X, Y, Z for this and ALSO, crucially, for "Cave Starting Camera Position" should be:
X: 0, Y: 1.5; Z: (at least) 6.0

I also think that allow-rotation and allow-movement should both default to "Yes" in W3D.

[2017-02-20 22:05] wphicks opened #55 "Look for fonts in "fonts" folder if not found elsewhere"
It would be useful to have cwapp.py look for a fonts folder in the same directory as the xml if it can't find the desired font.

[2017-02-20 22:07] wphicks commented on #52
This issue seems to have disappeared after further testing. Closing this and addressing your second point in #55, @shadoof. As always, please reopen if this issue reappears.

[2017-02-20 22:07] #52 closed

[2017-02-20 22:16] wphicks commented on #55
@shadoof, I'm implementing this now, but would you mind keeping an eye out for how often this actually gets used by people in class and/or your own work? Doing this requires that we use a separate validation scheme for font files and regular files, and I'm worried that we may confuse some people with this. i.e. "You mean I can just specify the path to the font file, or does it always need to be re

[2017-02-20 22:19] shadoof commented on #54
More generally: there is something - particularly in terms of how changing the Z parameter (for 'camera/tracked' position is very different for the CW and W3D (desktop) previewers. CW does a good job of showing what will be seen in the Cave (currently); W3D seems (for example) to place the camera too close to text objects which may also be differently *scaled* ('scale' parameter for objects also n

[2017-02-20 22:26] shadoof commented on #55
Understood @wphicks but then people do expect fonts, generally, to be treated differently with respect to other resources so I think this is a reasonable exception. Question: if there is only a font name (no path) in the xml and the resources themselves are not in a folder but are found the same level as the xml, will this now (also) work? (Ideally, I think, this coding should work if the font res

[2017-02-20 22:28] shadoof commented on #36
@wphicks FYI: the recently edited samples/test file for this is "sample_stereoImage_leftvsright.xml"

[2017-02-20 22:34] #55 closed

[2017-02-20 22:37] wphicks commented on #55
Last commit should have addressed this fully. We now look for fonts relative to the xml file and relative to a "fonts" directory in the same directory as the fonts file. Only after looking for a file in BOTH locations and failing will validation or a Blender build fail. Let me know if there's anything you want tweaking on, @shadoof.

[2017-02-20 22:40] wphicks commented on #55
Oh, and good point about people expecting fonts to be treated differently. I think that's actually absolutely true, and I'm now much more on board with this.

[2017-02-20 22:47] wphicks commented on #54
About to make appropriate changes to defaults. @purvigoel, I could use some help in updating samples accordingly.

@shadoof, getting the "scales" to match is absolutely an issue. The scalings for both systems are in (essentially) arbitrary units. Would you mind trying to tweak the scale for some example until it looks about right to you and let me know by what factor you had to tweak? Once we have

[2017-02-20 22:53] shadoof commented on #54
@wphicks @purvigoel, As I think Will knows, I am working through the samples in the shared folder:
Writing3D_XML_Samples and I have already changed all the xml files in this folder to have these new global defaults. I am making all the samples ready so that they *in principle* should work under W3D

[2017-02-20 22:54] wphicks commented on #54
Ah, sorry. I was actually referring to the python-based samples, which will have to be updated to bring things up to eye-level.

[2017-02-20 22:57] wphicks commented on #54
Latest commit should address everything here except the scaling issue, which will require more testing. @shadoof, if everything but the scaling works out, please feel free to close this, and I'll open a new issue for scaling.

[2017-02-20 23:01] wphicks commented on #40
New install method (still to be documented) makes this a very low priority.

[2017-02-20 23:02] wphicks commented on #27
Low priority for same reason as #40

[2017-02-20 23:02] wphicks commented on #18
Low priority for same reason as #40, and very low priority anyway.

[2017-02-21 01:30] shadoof commented on #54
@wphicks, This clearly needs more research, and I've only looked at text, but *IF* the camera position is the same (distance from object) is the same for both systems then *for text* (images not yet checked) a scale of 3 in CW looks the same if it is adjusted to a scale of 2 in W3D. (How to do this accurately??)

[2017-02-21 03:04] wphicks commented on #54
Great, thanks very much. It should (fortunately) be the same scaling factor for both images and text, I think. To get this very accurate (and make sure we're not leaving anything out), we'll have to actually look at it in the Cave, where there's a genuine physical scale.

[2017-02-21 13:36] shadoof commented on #54
@wphicks @purvigoel Right. So this will be the big one. Can we already run the same projects under both CW and W3D in the Granoff Cave (at least)? You haven't yet - have you Will? - tried to install W3D on the Granoff machines?

[2017-02-21 13:55] shadoof commented on #53
@wphicks @purvigoel, sample__first.xml renamed to sample_01_first.xml

[2017-02-21 14:12] shadoof opened #56 "Links improperly triggered for overlapping objects"
This sample will be a good one to work on exhaustively in order to sort:
* the way links work in W3D, current issues:
  * click (number of) parameters not clear and not working as expected with 'Any' default
  * enabled parameter and enable color not working
  * stay on parameter and stay on color needs checking
* scaling is 0.666 the correct factor for W3D scaling? how to determine this?
* around

[2017-02-21 14:33] shadoof opened #57 "W3D (blender) desktop previewer has framing that does not correspond with window, see: sample_06_movie.xml"
This sample file shows clearly that the current W3D desktop previewer has a framed screen-within-the-window that has a ? 16:9 aspect ratio, which is not obvious because the window's background is black.
  The chrome of the previewer window should correspond and be locked (but ideally be scaleable) to the actual aspect of any view area otherwise this is very confusing, esp. when working in 3D!
(NB:

[2017-02-22 20:18] #57 closed

[2017-02-22 20:20] wphicks commented on #54
No I haven't yet. It would probably be best for me to come down in person or to talk someone through this over Skype. I'm also going to try to install this in the RPI CAVE in the next week or so, which should help me work out some kinks.

[2017-02-24 21:04] shadoof opened #58 "Background color does not always appear as expected"
0,0,0 = black; but any non-zero number seems to be treated as equal to 255 (grays and dark blacks, color shades cannot be set).

[2017-02-24 21:12] shadoof opened #59 "windowing issues (not quite a reopen of #57)"
for the desktop previewer in the new system, could:
* the window be larger?
* the aspect be different (not as necessary)?
BUG (in my opinion): This window does now open corresponding to to the actual view port for the graphic world in Blender, *but*:
(at least on the Mac OSX) when the window is resized and its aspect changes black is used to 'letter-box' or side-band the view port (if vie port is

[2017-02-25 13:23] shadoof commented on #56
separating link issues from scaling. This will be for links. run and compare samples 02 and 02alt. Both work fine in CW. Behaviors have a variety of issues in W3D. The following things need sorting:
* Click through (default to 'yes' in W3D!)
* Number(s) of clicks
* Make sure that object links are disabled whenever they are made invisible/faded out.

[2017-02-25 13:29] shadoof opened #60 "Scaling of text appears different from legacy behavior"
* Scaling for fonts may be correct but if you run sample 00 in both CW and W3D, the initial viewing position of W3D seems to be considerably closer. Thus: make camera start position of W3D correspond better with CW. (I have added grey 'bullets' to the the Cave corners for these samples.)
* Scaling for images is different (I believe). At scale 1, I think CW takes *any* image and creates a one-foot

[2017-02-25 13:35] shadoof opened #61 "Pivot point for text rotation needs to move to center"
Shows very clearly that something is awry. Check:
* handling of around self-axis. (We do need clear best practices and defaults for this that are compatible)
Note:
* there seems to be a problem with the way W3D renders text that overlaps with an image (regardless of z) after a rotation (after clicking 'Front Link' in this case - also check sample 02 for this). Part of the text object that is in fr

[2017-02-25 14:53] wphicks commented on #59
Ah, I understand the issue. The window can definitely be larger; the resizing issue is trickier. This would essentially require an "upstream" feature request for blenderplayer or a fancy (probably platform-dependent) hack to enforce it. That half of that will probably have to wait a bit.

What size would you like for default?

[2017-02-25 14:55] wphicks commented on #56
Oh, bullet 3 is a bit of a surprise, actually. Doesn't the old system allow clicking of invisible links? I thought that was a feature that several projects make use of in significant ways.

[2017-02-25 14:59] wphicks commented on #60
Ah, you're right! CW does default to one-foot squares. I had thought it was pixel-count dependent. That's easily fixed.

As for the first, I'll have to look into it more closely.

[2017-02-25 15:00] wphicks commented on #58
Given #50, I'm beginning to worry that this is an upstream bug. Will investigate further.

[2017-02-25 15:32] shadoof commented on #59
That's perfectly OK. So long as the window opens, initially, with no (confusing) banding/letter-boxing (as it does now), I think that's important.

Size: for (local-system) designing that targets the Granoff Cave and while we sort out these teething problems, I think the window should be the same size as that for the current CW previewer.

Also: in the circs, can you prevent this window from being

[2017-02-25 15:36] shadoof commented on #56
Bullet 3: I'm pretty sure we allowed and used the clicking of invisible (transparent) *image* objects but not invisible *text* objects. (The original xml for samples 01 - 02 demonstrates, I think, that under the old system text objects that are faded out do not respond to clicks - they were set to stay enabled and they were not disabled in the link actions.

[2017-02-25 15:41] shadoof commented on #58
You mean a bug in Blender?

There are other ways (large colored objects) to make 'backgrounds' so: reducing the priority of this.

[2017-02-26 14:19] shadoof opened #62 "Initial Desktop and Immersive (Cave) Point-of-View in Global"
Separating this out from #54 to try to keep things cleaner. In W3D:
* rename "Desktop Starting Camera Position" to "Initial Desktop Point-of-View" and should, I think, default to: 0, 1.25, 8
* rename "Cave Starting Camera Position" to "Initial Immersive Point-of-View" and set default as: 0,0,0

It is important to allow these different setting (including angle/rotation of PoV) and to make them both

[2017-02-26 14:20] shadoof commented on #61
There is a new sample, 09, that allows this to be tested more easily.

[2017-02-26 14:33] shadoof opened #63 "Vertical text alignment handled differently from legacy system"
In CW, text (and other) objects have horiz-align and vert-align properties, defaulting to "(center)".
W3D either has different defaults or interprets these differently. horiz-alignment seems OK. With respect to vert-alignment, W3D currently treats the Y position parameter as referring to the ? ascender height of the font (should refer to font height / 2).

[2017-02-26 14:37] shadoof opened #64 "Legacy lighting system may handle lighting response flag differently"
This sample exposes differences between the two systems.
* check that behavior of *depthless* text really is the same for both setting of the "(Responds to) Lighting" (yes/no) parameter and decide on best default for W3D.
* sort out rendering issues for text-with-depth in W3D and attempt to match behavior in CW.

[2017-03-22 12:48] wphicks commented on #56
Okay, I've just confirmed that *all* links are currently deactivated when invisible. This will need to be changed for images to ensure legacy compatibility, but that can spin off to a separate issue.

The issue here is with how Blender handles mouse-over events with invisible objects (Not well!). So, we need to switch to a raycasting system of our own that will properly handle the clickthrough pro

[2017-03-22 13:04] wphicks opened #65 "Logging should warn exactly once if bpy is not found"
Logger should warn once (and only once) if bpy is not found.

[2017-03-22 13:07] wphicks commented on #59
If someone can tell me the current size of the CW previewer in pixels (on Mac or Windows) that would be helpful, but it's an easy fix from there. As far as drag-resizing, that's handled by the window manager on each platform, and not even the CW previewer effectively prevents that under all configurations.

[2017-03-22 13:15] wphicks opened #66 "Add installation information to Wiki"
The new install method should be documented on the Wiki.

[2017-03-22 13:49] shadoof commented on #59
@wphicks on my system's screen it seems to be 800 x 700 (sic). I have no idea why. Perhaps we could at least use 800 x 600 which would, at least. be 4:3. I have also (only just! now I 'look') noticed that the CW previewer stretches rectangles vertically. The back wall is not drawn as a square. What else is there to say about this but: wtf

[2017-03-22 14:32] wphicks commented on #59
Haha, okay sounds good. Yes, I think 800 x 600 is the more sensible default, and that's where we'll start. I'll push that through as soon as I'm done working on the mouse click issue.

[2017-03-26 15:51] #59 closed

[2017-03-26 15:53] wphicks commented on #59
Turns out I didn't know what I was talking about in terms of options available for scaling the window. This is now fixed so that you can rescale to any size you want without black bars or messing up the resolution. Window defaults to 800x600.

[2017-03-26 16:52] shadoof commented on #59
great stuff, Will!

[2017-03-26 17:06] wphicks commented on #64
As far as I can tell, flat text is responding as expected to lighting. If anyone is seeing a different behavior on their own system, a screenshot would be very helpful.

In terms of text with depth, the lighting provided by Blender is *far* more realistic than that provided by CW, so I expect some rendering differences. How severe is what you're seeing? We can tune the default material settings to

[2017-03-26 17:28] wphicks commented on #63
Default text alignments appear to be the same for both systems. Right now, W3D looks at the exact height of whatever text object gets created and offsets the text by half or all of that height to create centered or bottom-aligned text respectively. (Note to self: happens [here](https://github.com/wphicks/Writing3D/blob/847bebaf4745847bf71348dac29a8d09da26dbe1/pyw3d/objects.py#L429)) This is based

[2017-03-26 17:30] #62 closed

[2017-03-26 17:31] wphicks commented on #56
Use samples 02 and 02alt for testing

[2017-03-26 17:33] wphicks commented on #56
I'm actively working on this, but it may be a few days before the fix goes through. I think this is the highest priority issue right now, and several others stem from it.

[2017-03-26 20:59] wphicks commented on #61
Oof, yes. The self-axis for text is not currently handled properly at all. A clear mistake on my part.

[StackOverflow reference for self](https://blender.stackexchange.com/questions/5519/setting-the-pivot-point-of-an-object)

As for the second bullet point, I'm not seeing this behavior for either sample. If someone has a screenshot, I'll try to run down if something platform-specific is going on.

[2017-03-26 21:02] wphicks commented on #40
Will reopen if this becomes relevant again.

[2017-03-26 21:02] #40 closed

[2017-03-26 21:02] wphicks commented on #18
Will reopen if this becomes relevant again.

[2017-03-26 21:02] #18 closed

[2017-03-26 21:05] wphicks commented on #64
To test the "responds to lighting" toggle, use sample_09_fontlights and try toggling the Lighting property of the clickable links.

[2017-03-26 21:09] wphicks commented on #61
Oh, and if you do have a screenshot, please spin that off into a new issue titled "Images interfere with text rendering after overlap"

[2017-03-26 21:11] wphicks commented on #63
Dropping the high-priority label. This may be affected by resolution of #61.

[2017-03-26 21:14] wphicks commented on #60
If someone could test to see if bullet point 1 was resolved by the solution to #61, that would be helpful. Spinning the second point off into its own issue.

[2017-03-26 21:16] wphicks opened #67 "Images should scale by default to 1ft x 1ft"
To reproduce, run sample_02alt and observe substantially larger dimensions of image.

[2017-03-26 21:18] wphicks commented on #50
Duplicate of #58.

[2017-03-26 21:18] #50 closed

[2017-03-26 21:18] wphicks commented on #58
Merging #50 with this.

[2017-03-26 21:19] wphicks commented on #58
If someone has good steps for duplication, that would be helpful.

[2017-03-26 21:22] wphicks commented on #54
From here on, this issue will be used for discussion of scaling issues around text. For image scaling, see #67, and for camera starting position, see #62.

[2017-03-26 21:28] wphicks opened #68 "Movements do not quite reach target"
To reproduce, run sample_09_fontlights and repeatedly rotate by 45 degrees along one axis. Angle does not quite return to starting position. I suspect the same is true for positional movement, which would explain behavior in #53.

[2017-03-26 21:29] wphicks commented on #53
Recording the issue that each of these corresponds to before closing:
1. #52
3. #56
4. #56
5. #61
6. #68
7. #64

[2017-03-26 21:29] #53 closed

[2017-03-26 21:30] wphicks commented on #54
Merging #60 with this.

[2017-03-26 21:31] wphicks commented on #60
Duplicate of #54 and #67.

[2017-03-26 21:31] #60 closed

[2017-03-26 21:40] wphicks opened #69 "Samples should be more accessible"
This one's a primarily administrative issue. The problem is that most of those samples were done by people no longer involved with the project, and when I tried to get their permission to include them here under some sort of permissive license, I never heard back. Regardless, we need a way for new people coming onboard to access the samples and begin testing right away.

On a semi-related note, if

[2017-03-26 22:45] wphicks commented on #67
Resolved by 0a4d1092d0d8eb031a1e3eeaf3ec2f1d56c5c6a0. This may help with testing of #54, since this *does* provide a 1-foot scale to test other things against.

[2017-03-26 22:45] #67 closed

[2017-03-26 23:12] #61 closed

[2017-03-26 23:15] wphicks commented on #61
Fixed the "around-self-axis" issue. In general, new users should be advised to use this flag whenever possible, since it makes for a well-defined, consistent rotation axis. It wouldn't be too hard to mimic the CW app behavior when this option is switched off, but someone would need to do some testing to determine what the rules are for the rotation point in this case.

[2017-03-26 23:16] wphicks commented on #63
Resolution of #61 does not affect this issue, so I'm going to throw a testing-needed flag on for further information about exactly what the expected behavior is. This can also be reflagged as high-priority if that seems necessary.

[2017-03-27 00:52] wphicks commented on #63
Just uploaded sample_10_textalign to the samples drive, which should be helpful for testing.

[2017-03-27 00:56] wphicks commented on #63
Aha! Every now and then, I realize I'm an idiot. The offset needs to be 1/4 of the font height in either direction, not 1/2, which is what @shadoof was saying to begin with. I was just being completely dense. Okay, going to push the solution now.

[2017-03-27 01:53] wphicks opened #70 "Image links should be clickable when invisible"
...this is for legacy compatibility. But it does come in handy sometimes.

[2017-04-03 15:19] wphicks commented on #56
Still working on this; it's messy but tractable. There is a little bit of goofiness in terms of when overlapping elements are clicked, but that's true of the legacy system as well. Commenting now to mention that #70 will still definitely be open after this is complete.

[2017-04-09 23:59] #56 closed

[2017-04-10 00:00] wphicks commented on #56
All elements of this issue resolved by latest commit. Click system is still slightly unsatisfactory in that it's not very precise, but a new issue will be opened for that.

[2017-04-10 00:03] wphicks opened #71 "Click system lacks precision"
Clicking on an object is not very precise, resulting in a lot of false positives (see e.g. sample_11_click). This is due to the somewhat arbitrary choice of endpoint when raycasting for clicks.

[2017-04-18 16:49] wphicks commented on #71
Realized that the least sophisticated solution to this is definitely the best. Raycasts should *always* maintain the same normal in preview mode. This is an easy but high-priority fix.

[2017-04-19 20:21] wphicks opened #72 "Disambiguate gimbal-locked rotations"
Some rotations will be ambiguous due to gimbal-locking in conversion from axis-angle to quaternions, which gives rise to problem 5 of #53. Use sample_02alt to test.

[2017-05-04 01:33] wphicks opened #73 "Particle System XML I/O throws an exception on save"
To reproduce:
Add my_project.save_xml("psys.xml") call to psys_sample.py

[2017-05-04 01:36] wphicks opened #74 "Color of particles reverts to white"
To reproduce: Change color of particles in psys_sample.py.

[2017-05-04 01:43] wphicks opened #75 "Particle System fails to start when it becomes visible"
To reproduce: Make a particle system change from invisible to visible via a timeline.

[2017-05-04 01:48] wphicks opened #76 "3D Models do not transition smoothly to visibility"
To reproduce: Create any W3DShape and have it become invisible via a timeline.

[2017-05-09 18:26] #68 closed

[2017-05-09 20:48] wphicks opened #77 "Click rays do not go all the way to camera far clip"
Current click system appears to only affect objects within 5 units. To replicate, use sample_02alt. Note that adjusting [this line](https://github.com/wphicks/Writing3D/commit/b7da1c097d75f6ce3451abb898ac99c0a1d6c389#diff-52f54fc1e19e0c2696c69be7382da70bR60) does not resolve the issue. Reducing the distance parameter here reduces the effective range of clicking, but increasing does not appear to i

[2017-05-10 15:15] wphicks commented on #72
So... turns out I didn't know what I was talking about with this bug report. Gimbal-locking is only an issue with Euler angles, not axis-angle. There *is* still an issue with how axis-angles are interpreted, though, and I've gone back to [the G3D source](http://g3d.cs.williams.edu/websvn/filedetails.php?repname=g3d&path=%2FG3D10%2FG3D.lib%2Fsource%2FMatrix3.cpp) to try to replicate how it was hand

[2017-05-12 00:25] wphicks commented on #77
Closing pending resolution of #71.

[2017-05-12 00:25] #77 closed

[2017-05-15 17:57] wphicks opened #78 "UTF8 Characters Behave Inconsistently"
To reproduce: Create a project with multiple copies of text objects consisting of this character: 갭.

Expected behavior: Korean characters in VR!

Actual behavior:  "RuntimeError: Error: Rotation/Location can't apply to a 2D curve: Object "Text", Curve "Text", aborting"

[2017-05-15 20:13] wphicks opened #79 "Text depth inconsistent with cwapp"
In cwapp, it appears that text with depth extends *only* backward from the text face. Scaling of depth is also off.

[2017-05-15 20:14] wphicks commented on #79
Somewhat related to #54, although caused by a different scaling factor.

[2017-05-15 20:16] #72 closed

[2017-05-15 20:16] #31 closed

[2017-05-17 21:03] wphicks commented on #64
Hmmm... sample_13 is also showing some issues with brighter extruded text than seen in default. Going to drop the testing-needed flag on this. sample_13 should be used for testing going forward.

[2017-05-17 21:05] wphicks opened #80 "Text may be aligned slightly below legacy position"
Use sample_13 to test and compare to cwapp rendering of same

[2017-05-17 21:12] wphicks opened #81 "Extruded text occluded when poking through image"
I believe this is the behavior that @shadoof was mentioning in #61, and I've now witnessed it myself with sample_13. In order to reproduce, run sample_13, and rotate around to view the extruded text from the edge of the image. The text clearly does not "poke through" as intended. This may be solvable by turning off occlusion culling for any object with depth (including W3DModels and W3DShapes).

[2017-05-17 22:32] wphicks commented on #81
Blender's occlusion culling is triggered by setting objects as occluders- not the issue here. Need to look into other possibilities.

[2017-05-17 23:33] wphicks commented on #81
Could this be because images use an actual texture?

[2017-05-18 20:34] wphicks commented on #63
In testing sample_14, I realized that I was right before about the default handling of text alignment. Will revert this change in addressing #80. @shadoof, once #80 is closed, will you take a look and see if the problem you were originally talking about has been addressed? In particular, sample_10 and sample_14 may be useful to look at in order to describe exactly the problem we're interested in.

[2017-05-18 21:19] wphicks commented on #63
Ah! Now I'm seeing the issue- alignment was relative to fixed position rather than positioning being relative based on alignment. Should be able to get this (mostly) fixed up with next commit.

[2017-05-18 21:30] #63 closed

[2017-05-18 21:30] #80 closed

[2017-05-18 21:31] wphicks commented on #63
Note that this commit *almost* but not exactly replicates the alignment behavior of cwapp. Ascenders and descenders are measured just *slightly* differently, as can be seen in sample_14. If this becomes relevant for any legacy project, please reopen this issue.

[2017-05-18 21:37] wphicks commented on #79
Addressed by 46602b1011e415. Please reopen if this is not sufficiently precise for legacy projects.

[2017-05-18 21:37] #79 closed

[2017-05-18 21:38] wphicks commented on #54
Addressed by 46602b1011e415. Please reopen if scaling is not precise enough for any legacy project.

[2017-05-18 21:38] #54 closed

[2017-05-18 21:49] wphicks opened #82 "CaveMove rotates camera, NOT Cave"
Right now CaveMove only implements movement of camera, rather than actually moving Cave

[2017-05-18 21:57] wphicks opened #83 "Multiline text not aligned consistently with cwapp"
Aligning multiline text to either top or bottom does not give behavior consistent with cwapp. Also, spacing of lines is inconsistent with cwapp

[2017-05-23 00:30] #82 closed

[2017-05-23 00:30] #83 closed

[2017-05-30 17:58] wphicks opened #84 "Validation is too slow on large projects"
It currently takes an unreasonably long time to validate large projects. This can be tested with the performance sample.

[2017-05-30 20:18] #64 closed

[2017-05-30 20:18] #81 closed

[2017-05-30 23:51] wphicks commented on #76
Resolved by 05df946f44ceb3bb02ca62ee68aaae7b738f70c9.

[2017-05-30 23:51] #76 closed

[2017-05-31 00:07] wphicks commented on #58
I believe this is resolved by 3c3737566f2b123166e5f8e6e78f736d7906b95d, but I am not *absolutely* certain, since I still haven't been able to reproduce it on my system. If someone with Mac access could give it a whirl, it would be much appreciated. I'm closing this, but please feel free to reopen it if anyone sees this as unresolved.

@shadoof, at some point we should look at this commit together.

[2017-05-31 00:07] #58 closed

[2017-05-31 13:34] shadoof commented on #66
@wphicks I intend to develop a w3d site at writing3d.xyz, which will be within an encompassing dlarts.xyz site. I will be using Clement Valla's Binder and embedded Google Docs for this. Could the documentation Wiki be a Google Docs page within this site? Could it be directly linked from this repo?

[2017-05-31 14:51] shadoof commented on #66
@wphicks In fact, I've updated writing3d.xyz and its folder is shared with you, along with this first page that I've set up
[code]
And you could share this in turn with Pauline, etc., as and when.

[2017-05-31 15:02] wphicks commented on #66
That looks great, @shadoof! I'm onboard with this 100%, and I'll update the repo soon to direct people that way. I think it makes sense to transition the documentation I already have on this site to be more developer-oriented and let the documentation on writing3d.xyz be more user/consumer oriented. The layout looks marvelous.

[2017-05-31 15:18] wphicks commented on #66
@shadoof An important follow-up: Would it be all right if we hosted the install zips on that site? It would be nice to have something a little more official/stable than my Google drive.

[2017-05-31 17:25] wphicks commented on #35
With new install method, this has become a non-issue.

[2017-05-31 17:25] #35 closed

[2017-05-31 17:34] shadoof commented on #66
Yes @wphicks, definitely. Let's use this shared folder, making the zip accessible to 'anyone who has the link', OK? Note, this will be own my Brown University Google Drive, which I assume is OK by you?
[code]

[2017-05-31 18:26] #74 closed

[2017-05-31 18:26] #75 closed

[2017-05-31 20:10] wphicks commented on #66
Ah, I actually meant hosting directly on whatever server you're using for writing3d.xyz (removing the Drive dependency entirely). If it's easier to stick with Drive for now, I'm perfectly happy leaving it on my own account. I was just thinking if we ever get a *very* significant uptick in traffic, it's probably better to be hosting those files ourselves, but that is probably hopelessly optimistic.

[2017-06-01 14:04] shadoof commented on #66
@wphicks - sure Will, no problem. Although you may have to suggest a good workflow for this. I guess either:
* you take credentials for the DreamHost site, or
* I clone (some part of?) the repo where the zips are built from the release branch into a folder that I mirror on the DreamHost site? (It is only, so far, the tiny Binder-specific files that are hosted on DreamHost)

[2017-06-01 20:19] wphicks commented on #66
@shadoof Sounds good- I'm going to spin this off into a separate issue and think about the best workflow for this. It's probably possible to automate this so that I don't need the credentials (except for the initial setup) and you don't need to ever worry about processing updates. Let me figure that out myself, and in the meantime, people can continue to grab builds off Drive. This is definitely a

[2017-06-01 20:24] wphicks opened #85 "Figure out how best to host builds"
Promised spinoff from #66: Right now, install zips (containing Blender, some platform-specific scripts, the old cwapp editor, and a copy of the repo) are being hosted on Google Drive. This is clearly not the best way to handle this but will work fine unless there's a major uptick in interest in the project.

[2017-06-02 21:39] wphicks commented on #27
With the new platform-specific scripts (yet to be pushed to the repo), this should be taken care of. Editing ~/.w3d.json will yield the desired results.

[2017-07-03 17:45] #73 closed

[2017-07-03 17:51] #49 closed

[2017-07-03 17:52] wphicks commented on #27
Resolved in latest tagged release (v0.2.1)

[2017-07-03 17:52] #27 closed

[2017-07-03 17:59] wphicks opened #86 "Implement Particle System "Actions""
Particle system actions from the legacy system (and their associated XML I/O functions) need to be implemented.

[2017-07-10 19:17] wphicks opened #87 "Random choices should be seeded for particle systems"
For multi-platform environments, random position and velocity vectors must be chosen identically on each system. This should be done by seeding the RNG appropriately.

[2017-07-22 03:11] wphicks opened #88 "Create simplest possible example of bad z-sorting"
For use with #33.

[2017-07-24 18:53] #88 closed

[2017-07-24 19:15] wphicks commented on #33
A good sample is now available for testing [here](https://github.com/wphicks/Writing3D/blob/develop/samples/xml_samples/z_sorting_sample.xml). In the old system, the word CUTOUT would appear in green; it currently appears in blue.

[2017-09-11 16:41] shadoof opened #90 "move installation zip files to the writing3d.xyz dreamhost ftp server and amend workflow, scripts and quickstart guide"

[2017-09-11 17:12] wphicks commented on #90
Fantastic! I'll close #85, since this is clearly a solution for that. I'll try to get in touch with you toward the end of the week to figure out the access details. Should be a quick and easy implementation!

[2017-09-11 17:13] #85 closed

[2017-09-16 19:30] shadoof opened #91 "projects crash if glyphs are missing from a font"
* we should report this as a warning and prevent the crash
* we will need a list of glyphs for the default "BFont" file, which I plan to encourage students to use in the first instance
* to reproduce: 1) put a 'pipe' or a 'bullet' character (option-8 on a Mac) into the text field of a text object, 2) leave the font field blank, 3) attempt to preview the project

[2017-09-16 19:48] shadoof commented on #91
INVOCATION >> /Users/kongqi/W3D/blender/blender.app/Contents/MacOS/blender --background --python /Users/kongqi/W3D/Writing3D/scripts/Mac/../../samples/cwapp.py -- desktop /Users/kongqi/GDrive/BrownGDrive2013/Courses/Writing3D/Writing3D_XML_Samples/sample_00_random.xml
found bundled python: /Users/kongqi/W3D/blender/blender.app/Contents/MacOS/../Resources/2.76/python
W3D Configuration loaded from /

[2017-09-16 19:55] wphicks opened #92 "Check which samples from old cwapp are failing"
Some old cwapp samples are not running properly on the new system

[2017-09-16 19:55] shadoof commented on #92
INVOCATION >> /Users/kongqi/W3D/blender/blender.app/Contents/MacOS/blender --background --python /Users/kongqi/W3D/Writing3D/scripts/Mac/../../samples/cwapp.py -- desktop /Users/kongqi/CaveWriting/samples/sample.xml
found bundled python: /Users/kongqi/W3D/blender/blender.app/Contents/MacOS/../Resources/2.76/python
Traceback (most recent call last):
  File "/Users/kongqi/W3D/Writing3D/scripts/Mac/.

[2017-09-16 20:23] wphicks commented on #91
Possibly related to #78.

[2017-09-17 14:11] wphicks commented on #78
I believe that @shadoof has hit on the correct explanation in #91. The font in use simply didn't support that character set. Going to close this out and come up with a proper fallback in #91.

[2017-09-17 14:11] #78 closed

[2017-09-17 14:29] shadoof opened #93 "(spot)lights not working in sample_03_light.xml"

[2017-09-17 14:34] shadoof opened #94 "Object (as obj file) does not work in sample_04_model.xml and causes crash"
from the log file:
INVOCATION >> /Users/kongqi/W3D/blender/blender.app/Contents/MacOS/blender --background --python /Users/kongqi/W3D/Writing3D/scripts/Mac/../../samples/cwapp.py -- desktop /Users/kongqi/GDrive/BrownGDrive2013/Courses/Writing3D/Writing3D_XML_Samples/sample_04_model.xml
found bundled python: /Users/kongqi/W3D/blender/blender.app/Contents/MacOS/../Resources/2.76/python
Error: Unable

[2017-09-17 15:00] shadoof opened #95 "stereo images not working in sample_07_stereoimage.xml"
from the log file:
INVOCATION >> /Users/kongqi/W3D/blender/blender.app/Contents/MacOS/blender --background --python /Users/kongqi/W3D/Writing3D/scripts/Mac/../../samples/cwapp.py -- desktop /Users/kongqi/GDrive/BrownGDrive2013/Courses/Writing3D/Writing3D_XML_Samples/sample_07_stereoimage.xml
found bundled python: /Users/kongqi/W3D/blender/blender.app/Contents/MacOS/../Resources/2.76/python
Traceba

[2017-09-17 15:05] shadoof opened #96 "check rotations and also horizontal and vertical alignment for sample_09_frontlights.xml"

[2017-09-17 15:13] shadoof opened #97 "non-default fonts (.ttf) are not rendering with smooth curves"

[2017-09-17 17:31] wphicks commented on #95
Merging this with #36, but it's good to have it documented in terms of which legacy samples are affected by this.

[2017-09-17 17:31] #95 closed

[2017-09-17 17:55] wphicks commented on #94
Interpreting the log here, the problem is that the image used to texture the model is unavailable. It looks like the obj itself imported cleanly. I'll check to see where it's looking for assets as it's doing texturing stuff. I know I've gotten this sample to work in the past, so I'm not *too* concerned.

[2017-09-17 17:55] wphicks commented on #93
Can you give me just a bit more detail here, @shadoof? Do you not see any evidence of lighting at all?

[2017-09-17 18:04] shadoof commented on #93
No sign of the spot lights, @wphicks There are red and (stationary) blue spot lights, plus a gray point light. A time line is set to "start immediately" and this moves the red spot light back and forth horizontally over the (lawyer) text. Works under cw. Under w3d all you see is the white (lawyer) text (which is not - other tickets - lineated/sized in the same way).

[2017-09-17 19:48] wphicks commented on #93
Thanks muchly. I'll get right on this.

[2017-09-18 13:25] wphicks opened #98 "Create checksums for builds"
Checksums should be available for zip install builds (both on Github and on writing3d.xyz).

[2017-09-18 13:27] wphicks commented on #10
Closing this, as the remaining work is essentially covered by #86.

[2017-09-18 13:27] #10 closed

[2017-09-18 13:28] #66 closed

[2017-09-18 13:37] wphicks opened #99 "Builds should be served over https on writing3d.xyz"
Instructions available [here](https://help.dreamhost.com/hc/en-us/articles/216539548-How-do-I-add-a-free-Let-s-Encrypt-certificate-). Once this is in place, the links should be updated in the documentation.

[2017-09-18 13:43] #90 closed

[2017-09-18 14:39] wphicks commented on #96
Darn, this is a result of #71. Clicks are just activating several of the links simultaneously. I'll see what I can do. @shadoof, I'm not sure exactly what issue you're seeing in terms of alignment. Could you describe a bit more or upload an image?

Sample 16 is the most rigorous vertical alignment test I'm aware of among our samples. Are you seeing problems with that one, too?

[2017-09-18 14:52] shadoof commented on #96
@wphicks I'm not checking with Sample 16, as yet. I see that the problems are at least exacerbated by the triggering of multiple links (active areas of text objects are overlapping? -- which may be a product of this default font's strangely large point size?)
  The 'R' in the default Bfont seems to me to be ranging left and to have a Y-axis that is, as it were to the right of the 'R' rather than i

[2017-09-18 16:24] wphicks commented on #96
Ah, I see! I understand the axis issue and should be able to fix it. I'm working on getting the click situation fixed up first, but I'll take care of that next. Thanks very much for the details and screenshot.

[2017-09-18 16:25] wphicks commented on #96
Accidental closing- don't read anything into that.

[2017-09-19 02:11] shadoof opened #100 "make "Courier New Bold.ttf" the default font (font field left blank) for w3d"
@wphicks Will: I think this may be my confusion. Let's talk tomorrow if at all possible for you ...

@wphicks Let's keep working on this. I used update.sh late Monday (I did *not* do a reinstall) and I get the error below (when trying to run a file in the shared Google Drive samples folder). I can copy the ttf into the folder but 1) I shouldn't have to do this and 2) the name is ambiguous (if this

[2017-09-19 13:39] wphicks commented on #100
@shadoof Yeah, my apologies; I don't think I was clear yesterday. I've got the patch available but haven't actually pushed it yet. I'm available all day today, so ping me at your convenience. Until then, I'm going to work on improving the update scripts to make it easier to grab bleeding-edge and non-release versions for testing.

[2017-09-19 13:42] shadoof commented on #100
@wphicks Thanks Will, no real worries. There is a lot going on for me just now but I hope to be in chat with you this afternoon. Priority for me is to make sure all the students have a working version of the new local renderer. It's a good group and I am hopeful that they will be able work with us to launch w3d properly.

[2017-09-19 13:44] wphicks commented on #100
No problem. I can work on plenty of other things in the meantime. For students having trouble installing or running w3d, please don't hesitate to have them email me.

[2017-09-21 17:23] wphicks opened #101 "Mac sometimes misidentified as Linux during install"
Based on feedback from @shadoof on an error some students encountered when attempting to run cwapp.py, some Mac systems are being misidentified as Linux during install, resulting in a bad path for the Blender executable being written to .w3d.json.

I really need the output of `platform.system()` on an affected machine to drill down on this, but I'll see if I can scare anything up through research.

[2017-09-21 18:37] shadoof commented on #101
@wphicks Sorry Will, my system's not affected so I can't help with the specifics above. Have any of the students been able to help. I presume that .w3d.json could be edited directly. If so, myself or the new code-savy DLA 1st year, Sally Chen Qianxun  <address@email.com> could help students until this ticket is closed. Please invite Sally to the repo. Github handle: cqx931

[2017-09-21 19:29] wphicks commented on #101
Yes, Olivia has contacted me (with a delightfully thorough bug report), and I've been going back and forth with her. You're absolutely correct about the workaround, and I'll post exactly what needs to be done here in just a bit (trying to set up a couple of other things first).

@cqx931: Great to meet you, Sally! We're doing everything via fork-and-pull, so you probably won't need collaborator acc

[2017-09-21 20:13] wphicks commented on #101
Ooh! Just realized (based on an email from @cqx931) that the problem was occurring earlier than I realized. The *real* issue is in findblender.sh, which was blindly copied from Linux to Mac. Fixing it up now and pushing a patch.

[2017-09-22 00:56] wphicks commented on #101
Confirmed solved by 76960689d4c95ac3afade981a1aa5aef01a65bdf.

[2017-09-22 00:56] #101 closed

[2017-09-22 13:59] wphicks opened #102 "Possible regressions in upgrade to Blender 2.79"
Check that Cave Moves are working as expected (sample_17) and that vertical text alignment matches expectations.

[2017-09-24 14:30] shadoof opened #103 "potential developer/testers need better access to the log produced by CWEditor.jar"
* it would be good to be able to open this log from an agreed place in the folder hierarchy
* optionally, it would be good to be able to clear the log while running the editor

[2017-09-24 16:50] wphicks commented on #103
Right, this should actually be very straightforward if we know where we want to put the logs. I'll just redirect the output in the various cwapp scripts. Possible places to put the log:
1. A dedicated W3D workspace directory (e.g. ~/w3d_workspace) that could then also serve as a place to store automated backups of XML projects.
2. In the same directory as the .xml
3. In the parent directory of the

[2017-09-24 16:52] wphicks commented on #96
May actually be corrected by necessary changes in the upgrade to Blender 2.79 (see #102).

[2017-09-24 18:56] shadoof commented on #103
I favor option 1.

[2017-09-25 03:19] wphicks commented on #91
Note to self: Probably best to just drop an empty into the scene when this happens. No other default seems sensible.

[2017-09-25 14:32] wphicks commented on #103
@shadoof If you like the changes from d90fd62b9a65ccb33009f0258066dc8f737468cc, please feel free to go ahead and close this.

[2017-09-25 14:33] wphicks commented on #97
Temporary workaround in place (though it incurs a performance penalty). Switching this to medium priority accordingly.

[2017-09-25 14:35] wphicks commented on #100
@shadoof If you like the changes from [v0.2.4](https://github.com/wphicks/Writing3D/tree/v0.2.4), please feel free to go ahead and close this.

[2017-09-25 15:41] shadoof commented on #100
Happy with this ...

[2017-09-25 15:41] #100 closed

[2017-09-25 15:43] shadoof commented on #96
@hphicks Still needs work see #102 Multiple nearby (on the Y axis anyway) links are evoked by a single click. Especially, in this sample, clicking on a link underneath tends to trigger the link above.

[2017-09-25 16:37] wphicks commented on #96
Roger that. Is the issue now *just* the multiple clicks, or is there still an issue around alignment?

[2017-09-25 16:56] shadoof commented on #96
* Multiple clicks was the main issue. (I have been altering the project for teaching and test purposes. The click-broken version would have to be reconstituted - by closing Y-space between link text to 0.5)
* Alignment needs checking but alignment problem was only really noticeable with the Blender default font. (Once Courier_New_Bold became the default alignment seems good.)

[2017-09-25 17:10] shadoof commented on #103
Tested. Works for me (although only from command line on Macs – the editor reconfirmed as stripping out the <Debug> tag).

[2017-09-25 17:10] #103 closed

[2017-09-25 17:20] wphicks commented on #96
Okay, great! In that case, I'm going to merge this with #71. It sounds like that should probably be moved up to high priority, but I'll let you do that on your own judgement (not sure if there are other issues that are higher up the food chain).

[2017-09-25 17:20] #96 closed

[2017-10-01 11:24] shadoof opened #104 "positioning: w3d renderer positions text objects differently depending on whether 'Around self-axis' is set to true"
whereas CW renderer does not.
* reproduce using samples__0_start_button.xml, turning 'bigO's self-axis on or off
* may only effect positioning on the y-axis but needs checking

[2017-10-01 11:29] shadoof opened #105 "rotation: CW renderer considers self-axis always to be on the surface of a letter"
regardless of the depth of the letter, whereas W3D treats the extruded letter as an object and finds it's axes on that basis.
* reproduce by comparing (Y-axis rotation) behavior of `sample__0_start_button.xml` in the two renderers.

W3D does the right thing IMO, but we will need a flag to allow 'CW style text object rotations' so that legacy projects display as-composed. @wphicks Let's discuss thi

[2017-10-01 20:40] wphicks commented on #105
Ah, right. I know exactly why we're seeing the current behavior. My suggestion is that we add a "legacy" flag to the global options that (for now) defaults to true. If set, it will guarantee that this and other behaviors approximate (as closely as possible) the legacy cwapp. Otherwise, it will default to more "sensible" choices.

Come to think of it, we might just add a "version" flag to the globa

[2017-10-01 20:41] wphicks commented on #104
Roger that. I'll check it out ASAP. Thanks for the instructions to reproduce!

[2017-10-01 20:47] wphicks opened #106 "update.command changes to incorrect directory for update"
As reported by @shadoof, update.command does not change to the right command during update, resulting in a "No such file or directory" warning and incorrect behavior if git is not available.

[2017-10-01 20:56] #106 closed

[2017-10-01 22:25] wphicks commented on #104
I'm able to reproduce this and understand the cause. My tentative fix introduced another problem, though, so I may not get this taken care of for a couple days.

[2017-10-02 13:51] shadoof commented on #105
I agree that a version flag @wphicks would be the way to go, although because it's more memorable, I would favor a flag that is also a mnemonic, e.g. "cw2.x" for all projects intended to be legacy compliant, then "w3dx.x" for subsequent versions (where x = a digit).

[2017-10-02 14:21] wphicks commented on #105
I agree entirely. I'll make that change as soon as I can.

[2017-10-02 16:24] wphicks opened #107 "New GUI"
Building a new GUI needs to be a priority. Too many things are being held back by not having it in place. Unfortunately, this probably cannot happen unless this project gets more developers or some funding, so I'm creating this issue to help document all of the things that are being held back by not having this. Off the top of my head:

- GUI users cannot use global debug flag
- GUI users cannot u

[2017-10-03 19:31] shadoof commented on #105
@wphicks This is also demo'd clearly in the new samples_17_rotation.xml pushed to the "samples_debugging" branch of w3d_samples.

[2017-10-03 19:36] shadoof opened #108 "when a link starts a timeline, it seems to start all timelines not just the one referenced"
@wphicks This may also be a more general problem since students have noticed that click directed at object with an enabled link also trigger objects (perhaps "in-line" with the click, perhaps not) whose links are *not* enabled.

Observe the effects in the 'sample_17_rotation.xml' recently pushed to the samples_debugging branch of w3d_samples.

[2017-10-03 19:38] shadoof opened #109 "relative rotation in the new Blender-based renderer has easing in and out built-in?"
I think this is the case, but is not the case in the CW renderer.

Observe the effects in the 'sample_17_rotation.xml' recently pushed to the samples_debugging branch of w3d_samples, *but note*, the problem of starting one timeline perhaps starting all timelines will have to be addressed first.

[2017-10-03 19:43] shadoof commented on #36
@wphicks Will stereo images be possible? Could we perhaps raise the priority on this one?

[2017-10-03 19:44] shadoof commented on #69
Closing this since the samples are basically now by us, I've made a repo for them and the Army of Darkness images will be removed.

[2017-10-03 19:44] #69 closed

[2017-10-03 19:46] shadoof commented on #92
Closing this because we will be working thought the w3d_samples repo and generating tickets on a per-issue basis (as far as possible).

[2017-10-03 19:46] #92 closed

[2017-10-03 20:44] wphicks commented on #109
Sorry, what exactly do you mean by easing in and out?

[2017-10-03 20:45] wphicks commented on #108
Oof, that's a nasty one. I'll see what I can figure out.

[2017-10-03 20:51] wphicks commented on #36
Definitely possible. I don't mind raising the priority, but given how limited my development time is at the moment, I want to make sure we have a system where I'm prioritizing the absolute top of your list. Maybe we could have at most 4 "high-priority" items at a time, but you can feel free to upgrade anything to high priority if there's an open slot? Alternatively, we could leave the priority fla

[2017-10-03 20:55] wphicks commented on #92
Great, thanks! I think this is a good workflow for these.

[2017-10-03 22:00] shadoof commented on #109
@wphicks Easing in: acceleration of rotational speed at the beginning of the movement and, easing out: deceleration at the end (non-linear speed of rotation, such that when one rotation is immediately followed by another there is seems to be a brief pause in between, which may not be desirable: currently I can't think of a way to get an object to spin 360 degrees and keep spinning).

[2017-10-04 04:02] wphicks commented on #109
Ah, right. I see what you mean, and I think I know how to take care of it. I'll get to work on it as soon as I can.

[2017-10-04 12:38] shadoof commented on #109
@wphicks This is one that should be sensitive to the version (cw / w3d) flag.

[2017-10-04 13:30] shadoof commented on #93
@wphicks I'm a little worried about lights in general. Hope to discuss this sometime.

[2017-10-16 01:34] wphicks opened #110 "Better error message for missing sounds"

[2017-10-16 13:26] wphicks commented on #110
Related to #84. Suppressing validation means these errors are caught later.

[2017-10-16 21:50] shadoof opened #111 "name of 'fonts' folder (at the same level as <main>.xml file) should not be case sensitive"
'Fonts' and 'FONTS' in particular should be OK (enough for now)

[2017-10-16 23:13] shadoof commented on #111
@wphicks Hi Will, maybe I could use this at my initial 'way in' to the actual code. I've had a look and imagine that tweaks to either validators.py or objects.py could be made to accommodate alternative path names, but I don't have codeable tweak as yet. Do you have quik guidance?

[2017-10-16 23:14] shadoof commented on #108
@wphicks HI Will, I think this is a big and important one. Meredith (good student) encountered effects today and I think that this should be top priority. (Know you're busy; hope you're coping/do well.)

[2017-10-17 01:49] wphicks commented on #111
Wonderful! Thanks for hopping in on this one. The key line is right [here](https://github.com/wphicks/Writing3D/blob/efc50facab1fb3af5ec0d4cac634d881ee6ffb82/pyw3d/objects.py#L576). It's probably best to check whether [either directory exists](https://docs.python.org/3.6/library/os.path.html#os.path.isdir) and if so look for the font inside it.

[2017-10-17 02:17] wphicks commented on #108
Mostly note to self: That sample references non-existent timeline rot_guan. Probably unrelated but should be fixed.

[2017-10-17 02:53] wphicks commented on #108
Thankfully, I'm not seeing any evidence that this goes beyond the issues with clicking (#71). An earlier attempt at fixing this accidentally disrupted the ability to disable links. I'll fix that and then put #71 at the top of my list. @shadoof, the sample that you pointed to seems to be on the fritz for unrelated reasons (which I should probably look into as well). If you have another sample that

[2017-10-17 03:09] wphicks commented on #108
It's late, and I'm having trouble finding the enable/disable issue. I'll tackle this first thing on Thursday.

[2017-10-17 03:10] wphicks commented on #71
I think this can be fixed with update to latest version of Blender. Need to look into it further.

[2017-10-17 17:19] cqx931 opened #112 "Position difference between old and new software"
[Example 1](https://github.com/shadoof/w3d_samples/blob/samples_debugging/sample_24a_fontPosition_floor.xml): A font object that is placed at (0,0,0), relative to Floorwall:

In old software:
![image](https://user-images.githubusercontent.com/3056154/31678694-eb975918-b33c-11e7-90b6-53830c7a3e5a.png)

In new software:
![image](https://user-images.githubusercontent.com/3056154/31678697-edb9bf88-b33

[2017-10-17 17:52] shadoof commented on #112
@cqx931 @wphicks Hi Sally, many thanks for making samples carefully like this!

In this case, however, you were not to know that there will be *no positioning of objects relative to the walls* in the new software (because we are no longer targeting a single cube configuration for VR devices).

I'm closing this for this reason.

[2017-10-17 18:23] cqx931 commented on #112
Is there any documentation or list about things that is no longer supported for the new software?
I think it would be nice to have a wiki page for this as well as other tips you mentioned in the class(don't trust sound looping etc).

[2017-10-17 18:42] wphicks commented on #112
@cqx931, thank you very much for the report on this, especially with such a great illustration of the issue! If only all my bug reports were so clear! I'm actually going to reopen this with the legacy flag, since supporting wall placement is very important for supporting legacy projects.

@shadoof, given the work I've already put into placement on the walls now, I don't see any *technical* reason

[2017-10-17 18:44] wphicks commented on #112
Note to self: the placement issue against the left-wall is probably "close enough" for now and an alignment artifact. The placement issue against the floor is a genuine issue that needs to be resolved.

[2017-10-17 19:03] shadoof commented on #112
@cqx931 @wphicks Great exchange! and I entirely agree with Will on all this.

Wiki=public-facing information/documentation. If you guys agree, I would move toward putting this kind of information onto 'pages' that are simple Google Docs bound together using Clement Valla/This is Our Work's *Binder* system. As you know I've begun. The shared folder for such pages is here:

https://drive.google.com/

[2017-10-17 20:53] wphicks commented on #112
I think that's an optimal use of Binder, since it will be very easy for students to contribute regardless of technical skills. I'm going to continue to take a hands-off approach on the documentation there, but feel free to scrape anything I post to the developer-facing docs into there if it will be of use to students.

[2017-10-17 20:59] wphicks commented on #107
- Better error reporting

[2017-10-19 15:30] shadoof commented on #111
@wphicks hi Will, my first attempt at actually addressing the code. (First python also so, be gentle. ;) Please advise on any workflow adjustments I should make.

[2017-10-19 19:29] wphicks commented on #111
Fixed by @shadoof's PR #114. Many thanks!

[2017-10-19 19:29] #111 closed

[2017-10-20 20:39] cqx931 opened #115 "Any possibility to integrating aframe.io into Writing3D?"
A web framework for building virtual reality experiences:
https://aframe.io/

[2017-10-21 00:56] wphicks commented on #115
As a matter of fact, yes! I already have a branch of Writing3D that targets A-Frame; I just haven't been able to work on it with all of the more urgent bugs. If you're interested in looking into it more, we can certainly chat.

[2017-10-22 17:57] shadoof commented on #108
@wphicks I tidied samples_17_rotation and there aren't references to non-existent timelines. The problem of a link that is only suppose to start on timeline (rot_guan_1) also starting another timeline (col_guan) still exists.

Also the behavior of the col_guan timeline seems strange. It should fade the character back and forth from red to white, looping. (Behavior of col_guan timeline is different

[2017-10-22 20:34] shadoof commented on #108
@wphicks samples_25_timelinebug newly added to w3d_samples/samples_debugging demonstrates this minimally and clearly.

[2017-10-22 20:57] shadoof commented on #109
@wphicks I have radically simplified samples_17_rotation in w3d_samples/samples_debugging to demo the two features that are different with respect to w3d and CW rendering:
* CW rotates with axes on the front surface of the word's model (w3d in the model center - flag needed as above)
* w3d introduces easing in and easing out at the beginning and end of relative movements whereas relative movements

[2017-10-22 21:21] shadoof opened #116 "w3d only allows previewer wasd navigation if global 'allow-movement' is true"
... whereas, *when previewing* this is always allows after hitting Tab in CW.

When previewing navigating using wasd keys should always be possible.

(Mouse/trackpad reorientation only after a Tab key toggle works as it should.)

[2017-10-23 05:11] #71 closed

[2017-10-23 05:14] wphicks commented on #108
Just confirmed that bbce03dba5004113c1dbce1d5c8919fdfb066e2c fixes this by testing against sample_25_timelinebug. If you continue to see issues with this problem, feel free to reopen. If you wouldn't mind opening a fresh issue for any problems that you're seeing with the timeline in sample_17_rotation, that would be great.

[2017-10-23 05:16] wphicks commented on #96
Tested this sample with the commit closing #71 and confirmed that it is working as expected.

[2017-10-23 05:17] wphicks commented on #71
@shadoof It is possible to make the click detection even more precise, so let me know if you see anything that's a little fuzzy at the edges. I'm avoiding doing so for now both for performance reasons and because additional precision was starting to make links hard to click.

[2017-10-23 05:19] wphicks commented on #109
Thanks very much for the simplified example! Exactly what I needed. I'll see what I can do.

[2017-10-23 05:36] wphicks commented on #112
Huge thank you on this one, @cqx931! Was just able to fix this up in about 5 minutes, thanks to your fine samples. Change should be merged into master by the end of the night.

[2017-10-23 05:36] #112 closed

[2017-10-23 06:36] #116 closed

[2017-10-23 06:36] #109 closed

[2017-10-23 06:37] wphicks commented on #105
Definitely related to #104.

[2017-10-23 11:28] shadoof commented on #108
I'm uncertain @wphicks about the best workflow for testing. I assumed:
* navigate to current installation (installed as for student users - I keep this separate from my own local forked development repo)
* git checkout develop
* git pull

Then use CWeditor in the dir above to run test samples. But on f0ebd8a in the develop branch I still see the unwanted behavior when I do this. Am I missing somet

[2017-10-23 14:52] wphicks commented on #108
Oh dear- that should have worked. It's already in master, so you can just do a `git checkout master`, but that's not the issue (your commit SHA is correct). What exactly did you do to test?

[2017-10-23 15:55] wphicks commented on #108
Oh darn! I see what's going on here... I'll get it fixed up in just a moment.

[2017-10-23 16:26] #108 closed

[2017-10-23 16:28] wphicks commented on #108
@shadoof Fixed this with f79141b16be8272282552f774f5fb823ebdfb023. If you can confirm that this is working as intended, I'll build and push new zip installs.

[2017-10-23 18:43] shadoof commented on #86
@wphicks We should definitely work with Griffin on this. He's making samples for w3d_samples and he's visiting class today to talk about particle systems. He's found some amazing effects, some also exploiting transparency control.

[2017-10-25 14:23] wphicks opened #117 "Self-Axis with relative movement does not match legacy"
A move-relative action on an object without self-axis set to true pivots about the relative_to object in legacy cwapp.

[2017-10-29 17:43] #105 closed

[2017-10-29 18:24] wphicks commented on #107
- Single-sided text

[2017-10-29 18:36] wphicks commented on #93
Just confirmed that this is an issue with default orientation or angular width of the spotlights. If you can post a screenshot of the legacy behavior, I should be able to match it.

[2017-10-29 19:31] shadoof commented on #93
![screen shot 2017-10-29 at 3 27 47 pm](https://user-images.githubusercontent.com/1051808/32147459-f6a7c286-bcbd-11e7-9b1b-7ba0b60a897a.jpg)
![screen shot 2017-10-29 at 3 27 36 pm](https://user-images.githubusercontent.com/1051808/32147460-f6bd26e4-bcbd-11e7-9809-db87adc69fdc.jpg)

Sorry @wphicks only just saw your comment. Two screen shots taken from the old CW renderer. The spotlights pan contin

[2017-10-29 19:46] shadoof opened #118 "still slight vertical and horizontal text alignment issues?"
If we're still hoping to get fairly accurate rendering of legacy projects in the w3d, then this still needs addressing. Comparative screen shots from old and new renderer, from the opening state (before any click) of sample_17_rotation.xml:

![screen shot 2017-10-29 at 3 36 52 pm](https://user-images.githubusercontent.com/1051808/32147561-ef04345e-bcbf-11e7-9397-20d65db3cbf6.jpg)
The above is from

[2017-10-29 19:50] shadoof commented on #105
@wphicks I have tested from the `develop` branch and thanks Will, rotation is now done in w3d as it was done in CW. I guess, down the line, we will still have to provide a flag that allows the more 'rational' around-self-axis rotation for extruded text objects that w3d initially offered.

[2017-10-30 15:02] wphicks commented on #118
There's a chance this may be a regression due to the fix for self-axis placement. @shadoof, was this tested with your most recent pull (including that fix) or without?

[2017-10-30 15:18] wphicks commented on #118
Actually, I've just confirmed that this is related to the font used. On Linux, the placement matches. Urgh... I'll have to dive into this a bit closer.

[2017-10-30 16:15] shadoof commented on #118
Sorry about that @wphicks. Just confirming re: your previous comment that the testing was done after checking out develop in my installation, pull the most recent develop commits and then running the w3d previewer from the editor, standard fashion ...

[2017-10-30 17:22] wphicks commented on #118
Oh no, quite all right! It just means it's a more complex issue than I thought. Thanks very much for the details; I'll look into it.

[2017-10-30 17:27] wphicks commented on #104
Resolved by 831c6556cb707f4d51b5377de135510a218188f1

[2017-10-30 17:27] #104 closed

[2017-11-07 22:41] wphicks commented on #33
Note to self: The key to this is rendering objects in the order that they are defined. RAS_BucketManager does the sensible thing: render opaque objects in any order (unless z transparency is set to true for the material) and transparent objects from back to front. So, objects need to appear to not be transparent *only to RAS_BucketManager* or the sort method needs to be redefined in Blender source

[2017-11-07 22:55] wphicks commented on #33
Just confirmed that there is no way to trick RAS_BucketManager about the transparency status. We're down to modifying Blender source.

[2017-11-08 02:40] shadoof commented on #33
That's a bit of a blow, I imagine. Are you already engaged with Blender development at all? Or do you know anyone who is? If you think it's a runner, I would like to help with making the case that Blender should support control over z-sorting. What we've done with it is convincing.

[2017-11-08 05:06] wphicks commented on #33
Sorry- that was more of a note to myself than an indication of a complete dead-end, so let me provide the full context. With much trickery, I can reproduce *some* of the z-sorting behavior we have in cwapp. The issue is that it's either a *very* unstable solution or specialized to a particular project's configuration. What I was talking about with RAS_BucketManager is the sticking point for doing

[2017-11-08 17:04] shadoof commented on #33
Hey Will. That's all good to know. Once the semester is winding down and into my sabbatical, I am going to work with concentration to get us some significant programming assistance.

[2017-11-13 15:59] wphicks commented on #118
@shadoof, if you have just a moment, is there any chance you could test this with the latest version on either master or develop? d9344552a9dfdfc0c0c7c5b880569117ee741199 changed how text alignment works entirely, and I'm somewhat hopeful that that might have helped.

[2017-11-13 16:20] #91 closed

[2017-11-13 19:43] shadoof commented on #118
@wphicks Had a quick look, but I'm a little confused. Let's sort this out over the weekend.

[2017-11-13 19:58] wphicks commented on #118
Sounds good, thanks very much for giving it a shot.

[2017-11-13 20:30] wphicks commented on #97
Note to self: useful reference for dealing with text object resolution: https://blender.stackexchange.com/questions/8399/why-is-my-text-pixelated

[2017-11-14 13:54] wphicks opened #119 "Push-button deployment on Oculus Rift"
A simple switch should be all that is required to run projects on Oculus Rift.

[2017-11-14 13:55] wphicks opened #120 "Push-button deployment on Brown University Cave"
A simple switch should be all that is required to run projects in the Brown University Cave.

[2017-11-14 13:56] wphicks opened #121 "Push-button deployment on Brown University YURT"
A simple switch should be all that is required to run projects in the Brown University YURT.

[2017-11-14 14:07] wphicks commented on #33
Additional note to self: Consider modifying off UPBGE instead. There is no reason not to require a particular Blender version, since BlenderVR can be configured any way we like.

[2017-11-14 23:00] wphicks opened #122 "Sound integration for Brown University CAVE"
The Brown University CAVE should be able to play 5.1 positional sound for Writing3D projects.

It may be useful to construct an OSC server using https://github.com/attwad/python-osc.